.search-dropdown-ul {
  max-height:200px;
  width: 350%;
  margin-left: auto;
  list-style-type :none;

  overflow: hidden;
  overflow-y: scroll;

  border-style: solid;
  border-color: darkgrey;
  border-top-width: 0px;
  border-bottom-width: 1px;
  border-left-width: 1px;
  border-right-width: 1px;
  border-radius:10px;
  .search-dropdown-li {
    margin-left: -35px;
    margin-top: 0;
    height:25px;
    font-size: 18px;
  }
  .search-dropdown-li:hover{
    background-color: darkblue;
    color: white;
  }
}
