<ul class="search-dropdown-ul" *ngIf="employees">
  <li class="search-dropdown-li" *ngFor="let result of results" [value]="result"
      (click)="setDisplayEmployee(result)">
    {{result.employee_name}}
  </li>
</ul>
