.home-page {
  margin-top: 70px;
  max-width: 600px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 30px;

  .home-header {
    text-align: center;
    margin-bottom: 40px;
  }
}

.search-input{
  position: absolute;
  top: 200px;
}

.search-dropdown{
  position: absolute;
  top: 239px;
}


.search-display {
  position: absolute;
  top: 480px;

  margin-left: 7%;
  width: 360px;
  height: 120px;
  border-radius: 10px;
  box-shadow:5px 5px 5px gray,
  -5px -5px 5px gray;

}
.employee-img {
  display: inline-block;
}
.employee-info {
  margin-top: -20%;
  margin-left: 20px;
  display: inline-block;
  .employee-info-p {
    margin-bottom: -10px;
    height:25px;
    font-size: 16px;
  }
}
