<div class="home-page">
  <h2 class="home-header">Employee Search</h2>
  <!-- Please create an input component and add it here -->
  <search-input class="search-input"></search-input>

  <!-- Please create an dropdown component and add it here -->
  <search-dropdown class="search-dropdown"></search-dropdown>

  <!-- Please add html to show selected employee information -->
  <div class="search-display" *ngIf="displayEmployee">
    <span class="employee-img" ><img  style="width: 120px; height: 120px;" src="assets/avatar_placeholder.png"></span>
    <span class="employee-info">
    <p class="employee-info-p">name :{{displayEmployee.employee_name}}</p>
    <p class="employee-info-p">age :{{displayEmployee.employee_age}}</p>
    <p class="employee-info-p">ary :{{displayEmployee.employee_salary}}</p>
    <p> &nbsp; </p>
  </span>
  </div>
  <!-- Avatar image is available from 'assets/avatar_placeholder.png' -->
</div>
